.MySideNav-Container{
    position: fixed;
    /* height: 100%; */
    top: 0;
    bottom: 0;
    width: 200px;
}

.MySideNav-Brand{

}

.MySideNav-Menu{

}

.MySideNav-SubMenu{

}

.MySideNav-Item{
    display: none;
}

.MySideNav-Item-Expanded{
    display:block;
}