.MySideNav-Wrapper{
    position: fixed;
    /* height: 100%; */
    top: 0;
    bottom: 0;
    width: 200px;
}

.MySideNav-Header{
    display: block;
}

.MySideNav-Container{
    overflow: auto;
}

.MySideNav-Footer{
    display: block;
    position: absolute;
    bottom: 0;
}


.MySideNav-Brand{
    display: block;
}

.MySideNav-Item{

}

.MySideNav-SubMenu{
    display: block;
}

.MySideNav-SubItem{
    display: none;
}

.MySideNav-SubTitle{
    display: block;
}