:root{
    --MyTopNav-Var-Height: 48px;
}

.ant-input-search{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 7px;
}

.MyTopNav-Menu{
    background-color: #039be5;
    position: fixed;
    width: 100%;
    height: var(--MyTopNav-Var-Height);
    /* margin-left: 200px; */
}

.MyTopNav-MenuIcon{
    position: absolute;
    left: 15px;
    top: 10px;
    font-size:24px!important; /*simplemde messing with font-awesome?*/
    color: rgba(255,255,255,.7);
    cursor: pointer;
}

.MyTopNav-MenuIcon:hover{
    color: rgba(255,255,255,0.95);
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .MyTopNav-Menu{
        margin-left: var(--MySideNav-Var-Width);
    }

    .MyTopNav-MenuIcon{
        display: none!important; /*simplemde messing with font-awesome?*/
    }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}